<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Zibaray Customer Club - {% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    
    <script src="{% static 'zibcrm/jquery.columns.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'zibcrm/classic.css' %}">
</head>
<body>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>